*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

/* section 1 */
.s1{
    padding:50px;
    width:90%;
}
.s1 .d1{

    display:flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 18px;
    margin-top:20px;
}
.s1 .d1 p{
    width:40%;
}

/* section 2 */

.s2{
    width:90%;
    padding:50px;
}

.s2 .d2{
    display:flex;
    justify-content: space-between;
    margin-top:50px;
}
.s2 .d2 p{
    padding:12px 14px;
    font-size:18px;
}
.s2 .d2 .p1{
    background-color:#D55656;
}
.s2 .d2 .p2{
    background-color:#16AB05;
    box-shadow: 3px 3px 6px rgba(85, 85, 85, 0.671);
}
.s2 .d2 .p3{
    background-color:#828ED8;
}
.s2 .d2 .p4{
    background-color:#FFFB00;
    border-radius:8px;
    border:1px solid rgba(128, 128, 128, 0.555);
}

.s3{

    position:relative;
    height:200px;
}
.s3 div{
    width:120px;
    height:120px;
    position: absolute;
    top: 0;
    left:0;
}
.s3 .one{
    background-color: darkred;
}
.s3 .two{
    background: rgb(15, 150, 143);
    position: absolute;
    top:20px;
    left:20px;
}
.s3 .three{
    background-color: rgb(77, 8, 77);
    position:absolute;
    top: 40px;
    left:40px;
}
/* 
.s4{

} */
.s4 table{
    width:80%;
    background:rgb(244, 254, 255);
    text-align: center;
    padding:1px;
    margin-top:50px;
}
td{
    padding:20px;
}
table, td{
    border:1px solid gray;
}