*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
::selection{
    background-color: gray;
}
html{
    height:100%;
}
body{
    height:100%;
    font-family: sans-serif;
}
header{
    background-image:url(../assets/images/banner.jpg);
    background-size:cover;
    background-position:bottom;
    height:80%;
    position:relative;
    background-attachment: fixed;
}
header nav{
    background:black;
    position:fixed;
    width:100%;
    z-index:1000;
}
header nav ul{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    height:60px;
}
header nav ul li{
    flex:1;
    list-style-type: none;
    text-align:center;
    padding:8px 12px;
    align-self: center;;
}
header nav ul li:hover{
    background:rgb(196, 196, 196);
    cursor: pointer;
}
header nav ul li a{
    text-decoration: none;
    color:white
}
header h2{
    font-size:80px;
    position: relative;
    /* left: 50%; */
    top:50%;
    transform: translateY(-50%);
    color:white;
    text-align:center;
    letter-spacing: 2px;
    line-height: 100px;
    
}
header div{
    position:absolute;
    bottom:20px;
    color:white;
    width:100%;
}
header div .time{
    background:black;
    width:fit-content;
    float:left;
    position:relative;
    left:20px;
}
header div .adr{
    float:right;
    width:fit-content;
    position:relative;
    right:20px;
}

             /* *********** ABOUT ******************* */
.about{
    width:700px;
    margin:auto;
    text-align:center;
}
.about h3{
    margin:70px 0 30px;
    background:black;
    color:white;
    width:fit-content;
    display:inline-block;
    padding:8px 12px;
    letter-spacing: 2px;
}
.about p{

    margin:15px 0;
    font-size:17px;
    line-height: 2;
    text-align: start;
}
.about blockquote{
    background: rgb(250, 250, 250);
    border-left:7px solid darkgray;
    margin-bottom:20px;
    padding:15px;
    text-align: start;
    font-size:17px;
    line-height: 2;
}
.about blockquote footer{
    margin-top:10px;
    text-align:start;
    font-size:15px;
}
           /* ************ Menu Section ***********8 */
.menu-section{
    width:700px;
    margin: 40px auto;
    padding:0 0px;
}
.menu-section h3{
    text-align:center;
    background:black;
    color:white;
    margin:40px auto;
    width:fit-content;
    padding:8px 12px;

}
.tabs{
    display:flex;
}
.tabs button{
    flex:1;
    padding:10px;
    cursor:pointer;
    background:#f4f4f4;;
    border:none;
    font-size:16px;
    box-shadow:0px 0px 5px 2px rgb(206, 206, 206);}
.tabs button.active{
    background: #ddd;;
}
.menu-items{
    border:none;
    border-top:none;
    padding:20px;
    box-shadow:0px 0px 10px 2px rgb(206, 206, 206);
}
.menu-items .item{
    margin:60px auto;
}
.menu-items .item h4{
    margin-bottom:5px;
    color:rgb(97, 97, 97)
}
.menu-items .item p{
    color:#9e9e9e;
}
.menu-section img{
    margin:30px auto;
    width:700px;
}
            /* ******** WHERE ************ */
.where{
    width:700px;
    margin:50px auto;
}
.where h3{
    width:fit-content;
    margin:30px auto;
    padding:8px 12px;
    background:black;
    color:white;
}
p, img{
    margin:20px auto;
}
.where p span{
    background:black;
    color:white;
    display:inline-block;
    padding:5px;
}
form{
    width:100%;
}
input{
    width:100%;
    margin:10px auto;
    height:60px;
    padding:0 10px;
    background: rgb(240, 240, 240);
    font-size:18px;
    border:1px solid rgb(190, 190, 190);
}
form #submit{
    width:fit-content;
    background:black;
    color:white;
    cursor: pointer;
}


footer{
    width:700px;
    text-align: center;
    font-size:25px;
    margin:20px auto;
    height:50px;
}
footer p{
    text-align: center;
    margin-bottom:40px;
  
}
footer a{
    color:rgb(25, 114, 80);
    text-decoration:none;
    display:inline-block;
    transition:0.4s;
    position:relative;
}
footer a:hover{
    color:rgb(71, 71, 71);;
}